//
// Carousel
// --------------------------------------------------

// Wrapper for the slide container and indicators
.carousel {
	position: relative;
	blockquote {
		font-family: $open-sans;
		font-size: $font-size-h3;
		color: $brand-primary-dark;
		border-left: none;
		@include responsive(screen-md) {
			font-family: $open-sans;
			font-size: $mod-font-size-5;
			line-height: 32px;
			color: $brand-primary-dark;
			text-align: center;
			cite {
				font-size: $mod-font-size-1;
				display: block;
				text-align: center;
				font-size: $font-size-base;
				font-weight: 100;
				padding-top: 6px;
				font-family: $museo-300;
				color: $gray;
				a {
					color: $brand-primary;
				}
			}
		}
		p {
			line-height: 34px;
		}
	}
}

.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;

	> .item {
		display: none;
		position: relative;
		@include transition(.6s ease-in-out left);

		// Account for jankitude on images
		> img,
		> a > img {
			@include img-responsive();
			line-height: 1;
		}
	}

	> .active,
	> .next,
	> .prev {
		display: block;
	}

	> .active {
		left: 0;
	}

	> .next,
	> .prev {
		position: absolute;
		top: 0;
		width: 100%;
	}

	> .next {
		left: 100%;
	}
	> .prev {
		left: -100%;
	}
	> .next.left,
	> .prev.right {
		left: 0;
	}

	> .active.left {
		left: -100%;
	}
	> .active.right {
		left: 100%;
	}

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: $carousel-control-width;
	@include opacity($carousel-control-opacity);
	font-size: $carousel-control-font-size;
	color: $carousel-control-color;
	text-align: center;
	text-shadow: $carousel-text-shadow;
	// We can't have this transition here because WebKit cancels the carousel
	// animation if you trip this while in the middle of another animation.

	// Set gradients for backgrounds
	&.left {
		@include gradient-horizontal($start-color: rgba(0, 0, 0, .5), $end-color: rgba(0, 0, 0, .0001));
	}
	&.right {
		left: auto;
		right: 0;
		@include gradient-horizontal($start-color: rgba(0, 0, 0, .0001), $end-color: rgba(0, 0, 0, .5));
	}

	// Hover/focus state
	&:hover,
	&:focus {
		outline: 0;
		color: $carousel-control-color;
		text-decoration: none;
		@include opacity(.9);
	}

	// Toggles
	.icon-prev,
	.icon-next,
	.ss-left,
	.ss-right {
		position: absolute;
		top: 50%;
		z-index: 5;
		display: inline-block;
	}
	.icon-prev,
	.ss-left {
		left: 50%;
		margin-left: -10px;
	}
	.icon-next,
	.ss-right {
		right: 50%;
		margin-right: -10px;
	}
	.icon-prev,
	.icon-next {
		width: 20px;
		height: 20px;
		margin-top: -10px;
		font-family: serif;
	}

	.icon-prev {
		&:before {
			content: '\2039'; // SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
		}
	}
	.icon-next {
		&:before {
			content: '\203a'; // SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
		}
	}
}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
	position: absolute;
	bottom: -40px;
	left: 50%;
	z-index: 15;
	width: 60%;
	margin-left: -30%;
	padding-left: 0;
	list-style: none;
	text-align: center;
	li {
		cursor: pointer;
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		border: 1px solid $gray-light;
		border-radius: 10px;
		cursor: pointer;

		// IE8-9 hack for event handling
		//
		// Internet Explorer 8-9 does not support clicks on elements without a set
		// `background-color`. We cannot use `filter` since that's not viewed as a
		// background color by the browser. Thus, a hack is needed.
		//
		// For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
		// set alpha transparency for the best results possible.
		background-color: #fff \9
	; // IE8
		background-color: rgba(255, 255, 255, 1); // IE9
	}
	.active {
		margin: 0;
		width: 12px;
		height: 12px;
		background-color: $gray-light;
	}
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
	position: absolute;
	left: 15%;
	right: 15%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: $carousel-caption-color;
	text-align: center;
	text-shadow: $carousel-text-shadow;
	& .btn {
		text-shadow: none; // No shadow for button elements in carousel-caption
	}
}

// Scale up controls for tablets and up
@include responsive(screen-sm) {

	// Scale up the controls a smidge
	.carousel-control {
		.ss-left,
		.ss-right,
		.icon-prev,
		.icon-next {
			width: 30px;
			height: 30px;
			margin-top: -15px;
			font-size: $mod-font-size-5;
		}
		.ss-left,
		.icon-prev {
			margin-left: -15px;
		}
		.ss-right,
		.icon-next {
			margin-right: -15px;
		}
	}

	// Show and left align the captions
	.carousel-caption {
		left: 20%;
		right: 20%;
		padding-bottom: 30px;
	}

}

.carousel {
	.carousel-inner {
		min-height: 300px;
		@include responsive(screen-xs) {
			min-height: 200px;
		}
		@include responsive(screen-sm) {
			min-height: 175px;
		}
		cite * {
			display: inline;
		}
		.item .vertical-align {
			display: table;
			margin: 0 auto;
			blockquote {
				display: table-cell;
				vertical-align: middle;
				height: 190px;
				* {
					vertical-align: middle;
				}
			}
		}
	}
	.carousel-control.left,
	.carousel-control.right {
		background-image: none;
		display: none;
	}

}

//end small screen MQ

//added on top of bootstrap
//_ todo :
//_ - integrate below into above...
