.LogoBar {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;

    li {
        padding: 10px 25px;
        max-width: 200px;

        &.tight {
            padding: 5px 0px;
            max-width: 150px;
        }
    }
}

@media (min-width: $screen-md-min) {
    
    .LogoBar {

        li {

            &:first-child {
                margin-left: 30px;
            }

            &:last-child {
                margin-right: 30px;
            }
        }
    }
}