.SocialFloater {
  list-style-type: none;
  position: fixed;
  margin: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: all 100ms ease-in;

  &:hover,
  &:focus {
    bottom: 0px;
  }

  @media (min-width: $screen-md-min) {
    left: -38px;
    right: auto;
    top: 80%;
    width: auto;
    display: block;

    &:hover,
    &.active,
    &:focus {
      left: 0px;
    }

    &.active {
      top: 300px;
      bottom: 0px;
    }
  }

  li {
    padding-bottom: 0px;
    width: 100%;

    @media (min-width: $screen-md-min) {
      width: auto;
    }
  }

  a {
    display: block;
    padding: 8px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $ts-grey;

    @media (min-width: $screen-md-min) {
      width: 50px;
      height: 50px;
      padding: 0px;
      opacity: 0.7;
      font-size: 1.5rem;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
        transform-origin: left;
      }
    }
  }
}

a.SocialFloater--twitter {
  background-color: #00acee;
  color: white;
}

a.SocialFloater--facebook {
  background-color: #3b5998;
  color: white;
}

a.SocialFloater--linkedin {
  background-color: #0e76a8;
  color: white;
}
