.ContentHub--hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50%;
  background-attachment: fixed;
}

.ContentHub--fluid {
  max-width: 1700px;
}

.ContentHub--content {
  p {
    font-size: 1.15rem;
    line-height: 2rem;
  }
}

.ContentHub--center {
  @media (min-width: $screen-md-min) {
    display: flex;
    align-items: center;
  }
}

.ContentHub--learnMore {
  svg {
    transition: all 100ms ease;
  }

  &:hover {
    svg {
      transform: scale(0.8);
    }
  }
}

.ContentHub--flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-items: flex-start;
}

.ContentHub--flex-container__center {
  justify-content: center;
}

.ContentHub--flex-item {
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  transition: all 200ms ease-in;

  img {
    transition: all 200ms ease-in;
  }

  @media (min-width: $screen-md-min) {
    width: calc(33.33% - 30px);
  }

  &:hover {
    box-shadow: 0 10px 16px 0 rgba(78, 109, 132, 0.12);

    img {
      transform: scale(1.1);
    }
  }
}

.ContentHub--flex-item__quarter {
  @media (min-width: $screen-md-min) {
    width: calc(25% - 30px);
  }
}

.ContentHub--type {
  display: flex;
  align-items: center;
  margin-top: 25px;

  p {
    font-family: $museo-slab;
    padding-top: 8px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.01rem;
    font-weight: bold;
  }
}

.ContentHub--type-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $ts-blue;
  width: 35px;
  height: 35px;
  padding: 0px;
  font-size: 1.2rem;
  line-height: 0px;
  border-radius: 50%;
  margin-right: 10px;
  color: white;

  @media (min-width: $screen-md-min) {
    width: 45px;
    height: 45px;
    font-size: 1rem;
  }
}

.ContentHub--list-item {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ContentHub--list-button {
  display: block;
  width: 100%;
  text-align: left;
  border-color: transparent;
  font-size: 1.05rem;
  background-color: transparent;

  &[data-active='true'] {
    border-color: $ts-grey;
    box-shadow: 0 10px 16px 0 rgba(78, 109, 132, 0.12);
  }
}

form[name='search'] {
  display: flex;
  flex: 1 auto;
  width: 100%;

  .FieldGroup {
    width: 100%;
  }

  button {
    height: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .search-input {
    display: block;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-width: 2px;
  }
}

.ContentHub--heroPreview {
  position: relative;
}

.ContentHub--heroPreviewImage {
  max-width: 200px;

  @media (min-width: $screen-md-min) {
    max-width: 490px;
    position: absolute;
    z-index: 100;
    top: -190px;
    left: -20px;
  }
}

.ContentHub--rowFlex {
  @media (min-width: $screen-md-min) {
    display: flex;
    align-items: flex-end;
  }
}

.ContentHub--tsLogo {
  display: none;

  @media (min-width: $screen-md-min) {
    width: 110%;
    margin-left: -30px;
    max-width: 110%;
    padding: 0px;
    display: block;
  }
}

.ContentHub--quoteWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.ContentHub--quote {
  position: relative;
  color: $ts-darkblue;

  &:after {
    top: 35px;
    left: -7px;
    position: absolute;
    content: '';
    display: block;
    height: 80%;
    width: 4px;
    background-color: $ts-darkblue;
  }

  cite {
    display: flex;
    align-items: center;
    color: $ts-darkblue;

    strong {
      font-family: $museo-slab;
    }
  }

  img {
    margin-right: 15px;
  }
}

.ContentHub--quoteImageRow {
  display: flex;
  justify-content: flex-end;

  img {
    @media (min-width: $screen-md-min) {
      margin-top: -30px;
      margin-bottom: -30px;
    }
  }
}

.ContentHub--list {
  li {
    display: flex;
  }
}

.ContentHub--Breadcrumbs {
  font-size: 0.7rem;
  color: #999999;

  @media (min-width: $screen-md-min) {
    font-size: 0.9rem;
  }

  a {
    padding: 5px 5px;
    margin: 0px 2px;
    border-radius: 4px;
    transition: all 500ms ease;

    @media (min-width: $screen-md-min) {
      padding: 5px 10px;
      margin: 0px 5px;
    }

    &:hover {
      background-color: #eef7ff;
    }
  }

  a:first-child {
    margin-left: 0px;
  }

  .active {
    margin-left: 5px;
    color: $ts-blue;
    background-color: #eef7ff;

    @media (min-width: $screen-md-min) {
      margin-left: 10px;
    }

    &:hover {
      background-color: white;
    }
  }
}

.ContentHub--ctaFull {
  display: flex;
  align-items: center;

  @media (max-width: $screen-md-min) {
    flex-wrap: wrap;
  }
}

.ContentHub--ctaCondensed {
  background-image: url('/user/pages/11.leagues-and-clubs-resource-library/resource-library-preview-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.ContentHub--ad {
  background: linear-gradient(60deg, #00b113, #7fc243, #00bf8e, #00b113);
  background-size: 600% 600%;
  animation: HealthCheckGradient 13s ease infinite;

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
