.HealthCheck--hero {
  padding-top: 90px;
  background: linear-gradient(60deg, #00b113, #7fc243, #00bf8e, #00b113);
  background-size: 600% 600%;
  animation: HealthCheckGradient 13s ease infinite;

  @media (min-width: $screen-md-min) {
    padding-top: 130px;
  }

  .New--badge__large {
    @media (min-width: $screen-md-min) {
      margin-left: -10px;
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $screen-sm-min) {
      flex-wrap: wrap;

      .col-md-5 {
        order: 2;
        padding-top: 30px;
      }
    }
  }

  h2 {
    position: relative;

    @media (min-width: $screen-md-min) {
      padding-right: 60px;
    }

    &:before {
      @media (min-width: $screen-md-min) {
        height: 8px;
        content: '';
        width: 0px;
        display: block;
        height: 8px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        top: -20px;
        left: -520px;
        animation: AnimationName2 1s ease;
        animation-delay: 600ms;
        animation-fill-mode: forwards;
      }
    }
  }

  #videoModalTrigger {
    &:focus,
    &:active {
      text-decoration: none !important;
    }
  }
}

.HealthCheck--hero-image {
  @media (min-width: $screen-md-min) {
    margin: 0 auto -60px auto;
  }

  @media (max-width: $screen-sm-min) {
    max-height: 420px;
    overflow: hidden;
  }
}

.HealthCheck--heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  line-height: 4.5rem;

  @media (min-width: $screen-md-min) {
    font-size: 5.5rem;
    letter-spacing: 0.9rem;
    line-height: 5.5rem;
  }
}

.HealthCheck--heading__thin {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.7rem;
  display: block;

  @media (min-width: $screen-md-min) {
    font-size: 3.6rem;
  }
}

.HealthCheck--subheading {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-family: $open-sans;
}

@keyframes HealthCheckGradient {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}

@keyframes AnimationName2 {
  0% {
    width: 0vw;
  }
  100% {
    width: 1000px;
  }
}

@keyframes AnimationName3 {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes AnimationName4 {
  0% {
    width: 0px;
  }
  100% {
    width: 80vw;
  }
}

.HealthCheck--benefits {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $screen-sm-min) {
      flex-wrap: wrap;

      .colOrderOne {
        order: 1;
      }

      .colOrderTwo {
        order: 2;
      }
    }
  }

  h3 {
    font-weight: 300;
    font-size: $mod-font-size-6;
    color: $text-color;
  }

  video {
    width: 100%;
  }

  blockquote {
    margin-top: 30px;
    font-size: 16px;
    background-color: $gray-lighter;
    border-radius: 8px;

    cite {
      font-size: 14px;
    }
  }
}
.HealthCheck--break {
  background-image: url('/user/pages/02.teams/features/health-check/health-checks-benefits.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .container {
    max-width: 600px;
  }

  h5 {
    font-weight: 300;
    position: relative;

    &.active {
      animation-fill-mode: forwards;

      &:before,
      &:after {
        animation: AnimationName3 2.5s ease;

        @media (min-width: $screen-md-min) {
          animation: AnimationName4 2.5s ease;
        }
      }
    }

    &:before,
    &:after {
      content: '';
      width: 100vw;
      display: block;
      height: 4px;
      border-radius: 10px;
      background-color: white;
      position: absolute;

      @media (min-width: $screen-md-min) {
        width: 80vw;
        height: 8px;
      }
    }

    &:before {
      top: -30px;
      animation-delay: 200ms;
    }

    &:after {
      bottom: -30px;
      right: 0px;
      animation-delay: 600ms;
    }
  }

  @media (min-width: $screen-md-min) {
    font-size: 2rem;
    min-height: 90vh;
  }
}

.HealthCheck--iconRow {
  display: flex;
  align-items: center;

  blockquote {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
    font-size: 16px;
    background-color: #0e3354;
    border-radius: 8px;

    cite {
      color: rgba(255, 255, 255, 0.6);
      font-size: 14px;
    }
  }

  @media (max-width: $screen-sm-min) {
    flex-wrap: wrap;
  }
}

.HealthCheck--contentCTA {
  display: flex;
  align-items: center;
}

.iphone-x {
  position: relative;
  z-index: 1;
  height: 694px;
  width: 342px;
  margin: 0 auto;

  .side {
    background: #1c1c1c;
    border-radius: 54px;
    box-shadow: inset 0 0 2px 2px dimgrey, inset 0 0 0 6px #e2e3e9,
      0px -1px 13px 9px rgba(255, 255, 255, 0.8) inset;
    height: 694px;
    padding: 15px 22px;
    width: 342px;
    z-index: 1;
  }

  .screen {
    background: #000;
    background-position: center center;
    background-size: cover;
    border-radius: 33px;
    position: relative;
    height: 652px;
    width: 300px;
    margin-left: -1px;
    margin-top: 6px;
    z-index: 198;
    overflow: hidden;
  }

  video {
    height: 700px;
    width: 350px;
    margin-top: -30px;
    margin-left: -25px;
  }

  .line {
    &:after {
      top: 68px;
    }

    &:before {
      bottom: 68px;
    }
  }

  .header {
    background: #1c1c1c;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    height: 24px;
    left: 50%;
    margin-left: -82px;
    position: absolute;
    top: 15px;
    width: 164px;
    z-index: 199;
  }
}

.iphone-x .iphone-x .line::after,
.iphone-x .line::before {
  content: '';
  position: absolute;
  border: solid rgba(68, 68, 68, 0.25);
  border-width: 0 6px;
  height: 5px;
  left: 0;
  width: 100%;
  z-index: 9;
}

.iphone-x .sensor-1::after,
.iphone-x .sensor-1::before {
  content: '';
  position: absolute;
}

.iphone-x .sensor-1::after {
  background: #222;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 1%;
  margin-left: 10px;
  top: 3px;
}

.iphone-x .sensor-1::before {
  background: #222;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 10%;
  margin-left: 20px;
  top: 3px;
}

.iphone-x .sensor-2::after,
.iphone-x .sensor-2::before {
  content: '';
  position: absolute;
}

.iphone-x .sensor-2::before {
  background: #333;
  border-radius: 2.5px;
  height: 5px;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  top: 7px;
}

.iphone-x .sensor-3::after,
.iphone-x .sensor-3::before {
  content: '';
  position: absolute;
}

.iphone-x .sensor-3::before {
  background: #444;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 50%;
  margin-left: 35px;
  top: 3px;
  box-shadow: 0px 0px 5px 2px navy inset;
}

.iphone-x .sensor-3::after {
  background: #222;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  left: 65%;
  margin-left: 33px;
}

.iphone-x .volume-button {
  background: #c8cacb;
  height: 26px;
  left: -2px;
  position: absolute;
  top: 92px;
  width: 3px;
}

.iphone-x .volume-button::after,
.iphone-x .volume-button::before {
  content: '';
  position: absolute;
  background: #c8cacb;
  height: 50px;
  left: 0;
  width: 3px;
}

.iphone-x .volume-button::after {
  top: 48px;
}

.iphone-x .volume-button::before {
  top: 112px;
}

.iphone-x .power-button {
  background: #c8cacb;
  height: 80px;
  right: -2px;
  position: absolute;
  top: 160px;
  width: 3px;
}
