.table--competitor {
  display: flex;
  flex-wrap: wrap;
}

.table--competitorColumn {
  width: 25%;

  @media (max-width: $screen-md-min) {
    width: 100%;
  }

  &:last-child {
    .table--competitorRow {
      &:last-child {
        border-bottom-right-radius: 8px;
      }
    }
  }

  &:first-child {
    .table--competitorRow {
      &:last-child {
        border-bottom-left-radius: 8px;
      }
    }
  }
}

.table--competitorColumnHeader {
  padding: 30px 30px 10px 30px;
}

.table--competitorColumnContent {
  h5 {
    font-size: 13px;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    // opacity: 0.7;
    color: $ts-blue;
  }

  .table--competitorRow {
    padding: 20px 30px 10px 30px;

    &:nth-child(odd) {
      padding: 30px 30px 10px 30px;
      background-color: lighten($ts-blue, 58%);
    }
  }

  li {
    margin-bottom: 5px;
    font-size: 15px;
  }
}

.table--competitorColumnHeader,
.table--competitorName {
  margin-bottom: 20px;
}

.table--competitorName {
  border-top: 4px solid $ts-blue;
  display: flex;

  div {
    margin-left: 10px;
  }

  h6 {
    margin-top: 3px;
    font-family: $open-sans;
    font-size: 13px;
  }

  h4 {
    margin-bottom: 0px;
  }
}
