.urlBuilder--wrapper {
    .config {
        cursor: pointer;
        padding: 10px;
        color: #86cafd;
        border: 4px;
            strong {
                color: #236bad;
                 font-family: 'Museo Slab', serif;
            }
    }
}

