// Body text
// -------------------------

p {
  margin: 0 0 ($line-height-computed / 2);
  &.tight {
    padding-bottom: 0px;
  }
}

.lead {
  margin-bottom: $line-height-computed;
  line-height: 1.35;
  font-weight: 300;
  font-family: $museo-300;
  font-size: $mod-font-size-base;

  //adjust the lead class for various screens
  @include responsive($screen-xs) {
    font-size: $mod-font-size-1;
  }
  @include responsive($screen-sm) {
    font-size: $mod-font-size-2;
  }
  @include responsive($screen-md) {
    font-size: $mod-font-size-4;
  }
  @include responsive($screen-lg) {
    font-size: $mod-font-size-5;
  }

  //add the thin modifier
  &.thin {
    font-family: $museo-300;
  }
}

p,
li {
  line-height: 1.65;
}

header p,
header ul {
  padding-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  &[height='0'],
  &[width='0'] {
    display: none;
  }
}

iframe {
  max-width: 100%;
}

a:hover {
  text-decoration: none !important;
}

/* Helper Class */

.alert {
  border: 1px solid $gray-lighter;
}

.cat-img,
.sub-cat-img {
  display: block;
  background: #fafafa;
  border: 1px solid #eee;
  text-align: center;
  border-radius: 5px;
  height: 150px;
  overflow: hidden;
  img {
    background: none;
    border: none;
    border-radius: 5px;
    display: inline !important;
    width: auto !important;
    height: auto !important;
    min-height: 100% !important;
    max-width: 260px !important;
  }
}

/* Text Coloring */

.text-primary {
  color: $brand-primary !important;
}

.text-primary-dark {
  color: $brand-primary-dark !important;
}

.text-success {
  color: $brand-success !important;
}

.text-muted {
  color: #c1c1c1 !important;
}

.text-white {
  color: #fff !important;
}

.text-gray {
  color: $gray !important;
}

/* Text Orienation */

.text-left {
  text-align: left !important;
}

.text-center {
  text-center: center !important;
}

.text-right {
  text-right: right !important;
}

.spaced {
  p {
    margin-bottom: 25px;
  }
  li {
    margin-bottom: 15px;
  }
}

// Text modifiers

.text-underline {
  text-decoration: underline;
}

// Abbreviations and acronyms
abbr[title],
	// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
}

.initialism {
  font-size: $mod-font-size--1;
  text-transform: uppercase;
}

// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small,
.small {
  font-size: $mod-font-size--2;
}

// Undo browser default styling
cite {
  font-style: normal;
}

mark,
.mark {
  background-color: $state-warning-bg;
  padding: 0.2em;
}

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

// Contextual colors
.text-muted {
  color: $text-muted;
}

@include text-emphasis-variant('.text-primary', $brand-primary);

@include text-emphasis-variant('.text-success', $state-success-text);

@include text-emphasis-variant('.text-info', $state-info-text);

@include text-emphasis-variant('.text-warning', $state-warning-text);

@include text-emphasis-variant('.text-warning__dark', $brand-orange-dark);

@include text-emphasis-variant('.text-danger', $state-danger-text);

// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: #fff;
}

@include bg-variant('.bg-primary', $brand-primary);

@include bg-variant('.bg-success', $state-success-bg);

@include bg-variant('.bg-info', $state-info-bg);

@include bg-variant('.bg-warning', $state-warning-bg);

@include bg-variant('.bg-danger', $state-danger-bg);

// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
	// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
}

.initialism {
  font-size: $mod-font-size--1;
  text-transform: uppercase;
}

// Addresses
address {
  margin-bottom: $line-height-computed;
  font-style: normal;
  line-height: $line-height-base;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sport-icon {
  background: #fff;
  padding: 20px;
  border-radius: 75px;
  height: 150px;
  width: 150px;
  box-shadow: 0 2px 1px rgba(darken($brand-primary-dark, 10%), 0.3);
  transition: all 0.15s ease-in-out;
  margin: 0 auto;
  &:hover {
    padding: 10px;
  }
}
