// Scale base on 1.125, all calcs should reflect that

//----------------------------------//
//           Page header
// --------------------------------//

.page-header {
	padding-bottom: (($line-height-computed / 2) - 1);
	margin: ($line-height-computed * 2) 0 $line-height-computed;
	border-bottom: 1px solid $page-header-border-color;
}

//----------------------------------//
//        Display Headings
// --------------------------------//

.display-heading,
.display-heading-xl,
.display-heading-xxl {
	font-family: $museo-700;
	font-size: $mod-font-size-7;
	line-height: 1.25;

	//increase size as screen gets larger
	@include responsive(screen-xs) {
		font-family: $museo-700;
		font-size: $mod-font-size-8;
		line-height: 1.15;
	}
}

.display-heading-xxl {

	@include responsive(screen-sm) {
		font-family: $museo-700;
		font-size: $mod-font-size-9;
	}

	@include responsive(screen-lg) {
		font-size: $mod-font-size-10;
	}
}

.display-heading-xl {

	@include responsive(screen-lg) {
		font-family: $museo-700;
		font-size: $mod-font-size-9;
		line-height: 48px;

		&.small-display {
			font-size: $mod-font-size-8;
			line-height: 45px;
		}
	}
}

//----------------------------------//
//      Basic Heading Styles
// --------------------------------//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $headings-color;
	line-height: 1.35;

	& * {
		line-height: 1.35;
	}

	small,
	.small {
		font-weight: normal;
		line-height: 1;
		color: $headings-small-color;
	}
}

h1, .h1,
h2, .h2,
h3, .h3 {
	margin-top: 10px;

	small,
	.small {
		font-size: 65%; // don't override with mod scale, breaks more than it fixes
	}
}

h4, .h4,
h5, .h5,
h6, .h6 {
	margin-top: ($line-height-computed / 2);
	margin-bottom: ($line-height-computed / 2);

	small,
	.small {
		font-size: 75%; // don't override with mod scale, breaks more than it fixes
	}
}

//----------------------------------//
//      	h1 Styles
// --------------------------------//

h1,
.h1 {
	// base h1 font styles
	font-size: $mod-font-size-6;
	font-family: $museo-700;
	margin-bottom: 5px;

	&.smaller {
		font-size: $mod-font-size-5;
	}

	&.thin,
	& .thin {
		font-family: $open-sans;
        font-weight: lighter;
	}

	&.cta,
	& .cta {
		font-family: $museo-700;
	}

	&.bold,
	& .bold {
		font-family: $museo-700;
	}

	&.inset,
	& .inset {
		text-shadow: 0 -1px 0 darken($brand-primary-dark, 10%);
	}

	//increase h1 size for larger screens
	@include responsive(screen-sm) {
		font-size: $mod-font-size-7;

		&.smaller {
			font-size: $mod-font-size-6;
		}
	}

	@include responsive(screen-md) {
		font-size: $font-size-h1;

		&.smaller {
			font-size: $mod-font-size-7;
		}

		&.thin,
		& .thin {
			font-family: $open-sans;
			font-weight: lighter;
		}
	}
}

//----------------------------------//
//      	h2 Styles
// --------------------------------//

h2,
.h2 {
	font-size: $mod-font-size-4;
	font-family: $museo-700;
	margin-bottom: 5px;

	&.smaller {
		font-size: $mod-font-size-3;
	}

	&.thinner,
	& .thinner {
		font-family: $open-sans;
		font-weight: lighter;
	}

	&.thin,
	& .thin {
		font-family: $open-sans;
		font-weight: lighter;
	}

	&.cta,
	& .cta {
		font-family: $museo-700;
	}

	&.bold,
	& .bold {
		font-family: $museo-700;
	}

	&.inset,
	& .inset {
		text-shadow: 0 -1px 0 darken($brand-primary-dark, 10%);
	}

	// increase h2 size for larger screens
	@include responsive(screen-sm) {
		font-size: $mod-font-size-5;

		&.smaller {
			font-size: $mod-font-size-4;
		}
	}

	@include responsive(screen-md) {
		font-size: $font-size-h2;

		&.smaller {
			font-size: $mod-font-size-5;
		}
	}
}

//----------------------------------//
//      	h3 Styles
// --------------------------------//

h3,
.h3 {
	font-size: $mod-font-size-1;
	font-family: $museo-700;
	color: $brand-primary;
	margin-bottom: 5px;

	&.smaller {
		font-size: $mod-font-size-base;
	}

	&.thin,
	& .thin {
		font-family: $open-sans;
		font-weight: lighter;
	}

	&.cta,
	& .cta {
		font-family: $museo-700;
	}

	&.bold,
	& .bold {
		font-family: $museo-700;
	}

	&.inset,
	& .inset {
		text-shadow: 0 -1px 0 rgba($brand-primary-dark, .9);
	}

	@include responsive(screen-sm) {
		font-size: $mod-font-size-2;

		&.smaller {
			font-size: $mod-font-size-1;
		}
	}

	@include responsive(screen-md) {
		font-size: $font-size-h3;

		&.smaller {
			font-size: $mod-font-size-2;
		}

		&.thin,
		& .thin {
			font-family: $museo-300;
			font-weight: lighter;
		}
	}
}

h4,
.h4 {
	font-size: $mod-font-size--1;
	font-family: $museo-300;

	&.thin {
		font-family: $open-sans;
		font-weight: lighter;
	}

	&.smaller {
		font-size: $mod-font-size--2;
	}

	&.inset,
	& .inset {
		text-shadow: 0 -1px 0 rgba($brand-primary-dark, .9);
	}

	small,
	&.small {
		font-size: 75%; // don't override with mod scale, breaks more than it fixes
	}

	@include responsive(screen-sm) {
		font-size: $mod-font-size-1;

		&.smaller {
			font-size: $mod-font-size-base;
		}
	}
	@include responsive(screen-md) {
		font-size: $font-size-h4;
		font-family: $museo-300;

		&.smaller {
			font-size: $mod-font-size-1;
		}
	}
}

//----------------------------------//
//      	h5 Styles
// --------------------------------//

h5,
.h5 {
	font-size: $font-size-h5;
	font-family: $museo-300;

	&.thin {
		font-family: $open-sans;
		font-weight: lighter;
	}

	&.smaller {
		font-size: $mod-font-size-1;
	}

	&.inset,
	& .inset {
		text-shadow: 0 -1px 0 rgba($brand-primary-dark, .9);
	}
}

//----------------------------------//
//      	h6 Styles
// --------------------------------//

h6,
.h6 {
	font-size: $font-size-h6;
	font-family: $museo-300;

	&.thin {
		font-family: $open-sans;
		font-weight: lighter;
	}

	&.inset,
	& .inset {
		text-shadow: 0 -1px 0 rgba($brand-primary-dark, .9);
	}
}

//----------------------------------//
//        Overrides
// --------------------------------//

.breadcrumb {
	padding: 19px 0 0 0;
	margin-bottom: 0;
	list-style: none;
	background-color: transparent;
	border-radius: 3px;
	text-align: right;
}

header h1 {
	margin: 10px 0;
	font-size: $font-size-h1;
}
